body{

font-family: Arial;

background:#f0f2f5;

display:flex;
justify-content:center;

padding-top:20px;

}

.form-container,.container{

background:white;

padding:20px;

width:600px;

border-radius:10px;

box-shadow:0 0 15px rgba(0,0,0,0.2);

}

input,select{

width:95%;

padding:10px;

margin:8px 0;

border-radius:5px;

border:1px solid #ccc;

}

button{

padding:10px 20px;

background:#4CAF50;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

margin-top:5px;

}

button:hover{

background:#45a049;

}

table{

width:100%;

margin-top:10px;

border-collapse:collapse;

}

th,td{

border:1px solid #ccc;

padding:8px;

text-align:center;

}

th{

background:#4CAF50;

color:white;

}